use nix

export REPO_ROOT="${PWD}"

# GCP Virginia Full Tunnel
GCP_VPN_NETS=35.194.81.56/32
# GCP Frankfurt Full Tunnel
GCP_VPN_NETS=${GCP_VPN_NETS},35.198.147.95/32
# GCP Sydney Full Tunnel
export GCP_VPN_NETS=${GCP_VPN_NETS},35.189.40.124/32

export GCP_REGION="us-central1"
export GCP_PROJECT_NAME="cn-devnet"
export GCP_CLUSTER_NAME="cn-devnet"
export GCP_REPO_NAME="cn-devnet-images"
export GCP_IP_NAME="cn-devnet-ip"
export SBT_OPTS="-Xmx4G -Xms2G"

[[ -f .envrc.private ]] && source_env .envrc.private || true
