use nix

export REPO_ROOT="${PWD}"

export GCP_PROJECT_NAME="cn-devnet"
export GCP_CLUSTER_NAME="cn-devnet"
export GCP_REPO_NAME="cn-devnet-images"
export GCP_IP_NAME="cn-devnet-ip"
export SBT_OPTS="-Xmx4G -Xms2G"

[[ -f .envrc.private ]] && source_env .envrc.private
