.daml
*.dar
*.log
.DS_Store
node_modules/
build
daml.js
log/
logfile
testlog
_build/
.idea/*
.vscode/*
target
.bsp
!canton/community/participant/src/test/resources/daml/illformed.dar
!canton/community/participant/src/main/resources/dar/AdminWorkflows.dar
*~
*#
canton.pid
canton.ports
canton-release
.disable-unused-warnings
todo-out
temp/
