.daml
*.dar
*.log
.DS_Store
node_modules/
build
lib
daml.js
log/
logfile
testlog
_build/
.idea/*
.envrc.private
.bloop
.metals
**/metals.sbt

# We want to share run configurations
!.idea/runConfigurations
.vscode/*
target
.bsp
!canton/community/participant/src/test/resources/daml/illformed.dar
!canton/community/participant/src/main/resources/dar/AdminWorkflows.dar
*~
*#
*.pid
canton.ports
canton-simtime.ports
canton-release
start-frontends-network-address
.disable-unused-warnings
todo-out
temp/
.protobufs-*.zip
# Exclude generated ts protobuf sources
**/com/daml/ledger/api/**/*.ts
**/com/daml/ledger/api/**/*.js
**/com/daml/network/**/*.ts
**/com/daml/network/**/*.js
**/com/digitalasset/canton/**/*.ts
**/com/digitalasset/canton/**/*.js
**/google/**/*.js
**/google/**/*.ts
cluster/images/docs/src/app_dev/api
canton.patch
canton.tokens
canton-simtime.tokens
canton-classpath
openapi-ts-client
/cluster/manifest/test-results/actual.json
