# Copyright (c) 2026 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

{{ $_ := required ".Release.Name is required." .Release.Name }}
{{ $_ := required ".Release.Namespace is required." .Release.Namespace }}

{{ $_ := required ".Values.defaultJvmOptions is required." .Values.defaultJvmOptions }}
{{ $_ := required ".Values.imageRepo is required." .Values.imageRepo }}
{{ $_ := required ".Values.sequencer.persistence.host is required." .Values.sequencer.persistence.host }}
{{ $_ := required ".Values.sequencer.persistence.secretName is required" .Values.sequencer.persistence.secretName }}
{{ $_ := required ".Values.mediator.persistence.host  is required." .Values.mediator.persistence.host }}
{{ $_ := required ".Values.mediator.persistence.secretName  is required" .Values.mediator.persistence.secretName }}
{{ $_ := required ".Values.sequencer.driver.type is required." (.Values.sequencer.driver).type }}
{{- if eq .Values.sequencer.driver.type "postgres"}}
{{ $_ := required ".Values.sequencer.driver.address is required." (.Values.sequencer.driver).address }}
{{ $_ := required ".Values.sequencer.driver.password is required." (.Values.sequencer.driver).password }}
{{- else if eq .Values.sequencer.driver.type "cometbft"}}
{{ $_ := required ".Values.sequencer.driver.host is required." (.Values.sequencer.driver).host }}
{{ $_ := required ".Values.sequencer.driver.port is required." (.Values.sequencer.driver).port }}
  {{- else if eq .Values.sequencer.driver.type "cantonbft"}}
{{ $_ := required ".Values.sequencer.driver.externalAddress is required." (.Values.sequencer.driver).externalAddress }}
{{ $_ := required ".Values.sequencer.driver.externalPort is required." (.Values.sequencer.driver).externalPort }}
{{- end}}
