# Copyright (c) 2024 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "prefix" (list .Values "cometbft-data") }}
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    {{- include "splice-util-lib.default-labels" (set . "app" $.Values.node.identifier) | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ $.Values.db.volumeSize }}
  storageClassName: {{ $.Values.db.volumeStorageClass }}
  volumeMode: Filesystem
