source_up

source_env .envrc.vars

source "${REPO_ROOT}/build-tools/lib/cluster.envrc"

# Private .envrc
[[ -f .envrc.private ]] && [[ -z "$IGNORE_PRIVATE_ENVRC" ]] && source_env .envrc.private || true
