# IMPORTANT: do not place any ignores here, use the top-level `.gitignore` file instead.
# That one is referenced in the `./scripts/sync-upgrade-model.sh` script to ensure
# `rsync` does only copy sources and not build products (and thus messing up the build).
