source_up

# gcloud logins
[ -f ~/.config/gcloud/credentials.db ] || \
    gcloud auth login

[ -f ~/.config/gcloud/application_default_credentials.json ] || \
    (echo "Configuring google credentials for cluster administration" && \
     gcloud auth application-default login)

DOCKER_CREDS=$(if [ -f ~/.docker/config.json ]; then cat ~/.docker/config.json | jq '.credHelpers."'${CLOUDSDK_COMPUTE_REGION}'-docker.pkg.dev"'; fi)

[[ -z "$DOCKER_CREDS" || "$DOCKER_CREDS" == "null" ]] && \
    echo "Configuring docker credentials for cluster images" && \
    gcloud auth configure-docker ${CLOUDSDK_COMPUTE_REGION}-docker.pkg.dev --quiet

