source_up

# gcloud logins
[ -f ~/.config/gcloud/credentials.db ] || \
    gcloud auth login

[ -f ~/.config/gcloud/application_default_credentials.json ] || \
    (echo "Configuring google credentials for cluster administration" && \
     gcloud auth application-default login)
