# Copyright (c) 2024 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

{{- $appIdentifier := "sv-web-ui" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "splice-util-lib.default-labels" (set . "app" $appIdentifier) | nindent 4 }}
    migration: {{ .Values.migration.id | quote }}
  name: {{ $appIdentifier }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $appIdentifier }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        {{- toYaml .Values.pod.annotations | nindent 8 }}
      labels:
        {{- include "splice-util-lib.default-labels" (set . "app" $appIdentifier) | nindent 8 }}
        migration: {{ .Values.migration.id | quote }}
    spec:
      {{- include "splice-util-lib.service-account" .Values | nindent 6 }}
      containers:
        - env:
            - name: SPLICE_APP_UI_AUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: client-id
                  name: splice-app-sv-ui-auth
                  optional: false
            - name: SPLICE_APP_UI_AUTH_URL
              valueFrom:
                secretKeyRef:
                  key: url
                  name: splice-app-sv-ui-auth
                  optional: false
            - name: SPLICE_APP_UI_AUTH_AUDIENCE
              value: {{ .Values.auth.audience | quote }}
            - name: SPLICE_APP_UI_NETWORK_NAME
              value: {{ .Values.spliceInstanceNames.networkName | quote }}
            - name: SPLICE_APP_UI_NETWORK_FAVICON_URL
              value: {{ .Values.spliceInstanceNames.networkFaviconUrl | quote }}
            - name: SPLICE_APP_UI_AMULET_NAME
              value: {{ .Values.spliceInstanceNames.amuletName | quote }}
            - name: SPLICE_APP_UI_AMULET_NAME_ACRONYM
              value: {{ .Values.spliceInstanceNames.amuletNameAcronym | quote }}
            - name: SPLICE_APP_UI_NAME_SERVICE_NAME
              value: {{ .Values.spliceInstanceNames.nameServiceName | quote }}
            - name: SPLICE_APP_UI_NAME_SERVICE_NAME_ACRONYM
              value: {{ .Values.spliceInstanceNames.nameServiceNameAcronym | quote }}
            - name: SPLICE_APP_UI_POLL_INTERVAL
              value: {{ .Values.uiPollInterval | quote }}
          image: "{{ .Values.imageRepo }}/sv-web-ui:{{ .Chart.AppVersion }}{{ ((.Values.imageDigests).sv_web_ui) }}"
          {{- with .Values.imagePullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          name: sv-web-ui
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 0.1
              memory: 240Mi
            limits:
              memory: 1536Mi
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $appIdentifier }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "splice-util-lib.default-labels" (set . "app" $appIdentifier) | nindent 4 }}
    migration: {{ .Values.migration.id | quote }}
spec:
  selector:
    app: {{ $appIdentifier }}
  ports:
    - name: http
      targetPort: http
      port: {{ .Values.service.ui.port }}
      protocol: TCP
