# Copyright (c) 2026 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  staticfile.conf: |
    server_tokens off;

    add_header Cache-Control no-cache;

    gzip on;
    gzip_types {{ .Values.contentType }};

    types {
        {{ .Values.contentType }} html;
    }
