participantAddress: "participant"

# URL of sponsoring SV for onboarding your validator
svSponsorAddress: "SPONSOR_SV_URL"
onboardingSecretFrom:
  secretKeyRef:
    name: splice-app-validator-onboarding-validator
    key: secret
    optional: false
# Party ID hint for the validator operator party, should be of format <organization>-<function>-<enumerator>,
# e.g. digitalAsset-finance-1
validatorPartyHint: "YOUR_VALIDATOR_PARTY_HINT"

# MIGRATION_START
# Replace MIGRATION_ID with the migration ID of the global synchronizer.
migration:
  id: "MIGRATION_ID"
  # Uncomment this when redeploying as part of a migration, i.e., MIGRATION_ID was incremented and a migration dump was exported to the attached pvc.
  # migrating: true
#MIGRATION_END

persistence:
  secretName: postgres-secrets
  host: postgres

# Uncomment the following block if you want to restore from a participant dump
# and recover your balance
# PARTICIPANT_BOOTSTRAP_MIGRATE_TO_NEW_PARTICIPANT_START
# participantIdentitiesDumpImport:
#   secretName: participant-bootstrap-dump
#   # Make sure to also adjust nodeIdentifier to the same value
#   newParticipantIdentifier: put-some-new-string-never-used-before
# migrateValidatorParty: true
# PARTICIPANT_BOOTSTRAP_MIGRATE_TO_NEW_PARTICIPANT_END

# Replace YOUR_VALIDATOR_NODE_NAME with the name you provided for your validator identity.
# This value will be used for the node identifier of your participant.
nodeIdentifier: "YOUR_VALIDATOR_NODE_NAME"

# CONFIGURING_TOPUP_START
# Configuring a validator's traffic top-up loop;
# see documentation for more detailed information.
topup:
  # set to false in order to disable automatic traffic top-ups
  enabled: true
  # target throughput in bytes / second of sequenced traffic; targetThroughput=0 <=> enabled=false
  targetThroughput: 20000
  # minTopupInterval - minimum time interval that must elapse before the next top-up
  minTopupInterval: "1m"
# CONFIGURING_TOPUP_END
# SCAN_CLIENT_CONFIGURATION_START
scanClient:
  scanType: "bft"
  seedUrls: ["TRUSTED_SCAN_URL"] # replace with scan seed url. Supports multiple urls, separated by comma.

# scanClient denotes how the validator makes connections to scan service and supports three modes of operation.

# Mode 1: bft (Byzantine Fault Tolerance)
# Connects to all available scans in the network. It validates responses by ensuring
# at least f+1 matching responses are received.

# scanClient:
#   scanType: "bft"
#   seedUrls: ["TRUSTED_SCAN_URL"] # replace with scan seed url(s).  Supports multiple urls, separated by comma.

# Mode 2: bft-custom
# A specialized version of bft where you specify a subset of trusted SVs.
# The validator connects only to the scans of the SVs listed in 'svNames'.
# 'threshold' defines how many identical responses are required to consider the scan responses valid.

# scanClient:
#   scanType: "bft-custom"
#   svNames: ["TRUSTED_SV"] # replace with trusted SV names(s)
#   seedUrls: ["TRUSTED_SCAN_URL"] # replace with actual scan seed urls(s)
#   threshold: <TRUST_THRESHOLD> # replace with the integer number of matching responses required for validation

# Mode 3: trust-single
# Connects to a single trusted scan address.
# This means that you depend on that single SV and if it is broken or malicious you will be unable to use the network.
# Hence, usually you want to default to not enabling this

# scanClient:
#   scanType: "trust-single"
#   scanAddress: "TRUSTED_SCAN_URL" # replace with the trusted scan url

# SCAN_CLIENT_CONFIGURATION_END

# SYNCHRONIZER_CONFIGURATION_START
synchronizer:
  connectionType: "bft"

# synchronizer configuration enables to configure how the validator's participant connects to the synchronizer.
# synchronizer configuration has three modes of operation.

# Mode 1: bft (Byzantine Fault Tolerance)
# Uses all available synchronizer connections provided by the scan service.
# Responses are validated against the network's f+1 fault tolerance logic.

# synchronizer:
#   connectionType: "bft"

# Mode 2: bft-custom
# Connects only to sequencers operated by the specific SVs listed in 'svNames'.
# 'threshold' defines the minimum number of matching responses required for validation.

# synchronizer:
#   connectionType: "bft-custom"
#   svNames: ["TRUSTED_SV"] # replace with trusted SV name(s)
#   threshold: <TRUST_THRESHOLD> # replace with the integer number of matching responses required for validation

# Mode 3: trust-Single
# Connects to a single specified sequencer URL.
# trust-single makes you dependent on a single SV; if it is malicious or down, you will be unable to use the network.

#synchronizer:
#   connectionType: "trust-single"
#   url: "TRUSTED_SYNCHRONIZER_SEQUENCER_URL" # replace with the trusted synchronizer sequencer url

# SYNCHRONIZER_CONFIGURATION_END
