# SCAN_CLIENT_CONFIGURATION_START
scanClient:
   scanType: "bft"
   seedUrls: ["https://seed-scan-url.com"] # replace with actual scan seed url
# scanClient denotes how the validator makes connections to scan service and supports three modes of operation.
# Mode 1: BFT (Byzantine Fault Tolerance)
# Connects to all available scans in the network. It validates responses by ensuring
# at least f+1 matching responses are received.
# scanClient:
#   scanType: "bft"
#   seedUrls: ["https://seed-scan-url.com"] # replace with actual seed scan url(s).

# Mode 2: BFT-Custom
# A specialized version of BFT where you specify a subset of trusted SVs.
# The validator connects only to the scans of the SVs listed in 'svNames'.
# 'threshold' defines how many identical responses are required to consider the scan responses valid.
# scanClient:
#   scanType: "bft-custom"
#   svNames: ["SV-1", "SV-2"] # replace with actual SV names
#   seedUrls: ["https://url-1.com", "https://url-2.com"] # replace with actual seed scan urls
#   threshold: 2

# Mode 3: Trust-Single
# Connects to a single trusted scan address.
# This means that you depend on that single SV and if it is broken or
#  malicious you will be unable to use the network so usually you want to default to not enabling this
# scanClient:
#   scanType: "trust-single"
#   scanAddress: "TRUSTED_SCAN_URL" # replace with the actual trusted scan url
# SCAN_CLIENT_CONFIGURATION_END

# TRUSTED_SINGLE_SEQUENCER_START
# If you want to configure validator to connect to a single trusted sequencer, set ``useSequencerConnectionsFromScan`` to false.
# and replace ``TRUSTED_SYNCHRONIZER_SEQUENCER_URL`` with the publicly accessible URL of the trusted sequencer.
# This does mean that you depend on that single SV and if it is broken or malicious you will be unable to use the network so usually you want to default to not enabling this.
# decentralizedSynchronizerUrl: "TRUSTED_SYNCHRONIZER_SEQUENCER_URL"
# useSequencerConnectionsFromScan: false
# TRUSTED_SINGLE_SEQUENCER_END

# Replace OPERATOR_WALLET_USER_ID with the user id in your IAM that you want to use to log into
# the wallet as the SV party. Note that this should be the full user id, e.g., ``auth0|43b68e1e4978b000cefba352``
# not only the suffix ``43b68e1e4978b000cefba352``:
# You can specify multiple user ids if you want multiple users to be able to log into your wallet.
# Note that removing a user from this list does *not* revoke any access that the user might already have; you might want to manually `/admin/users/offboard` the user via the validator app API.
validatorWalletUsers:
  - "OPERATOR_WALLET_USER_ID"
auth:
  # replace OIDC_AUTHORITY_VALIDATOR_AUDIENCE with the audience of your choice
  audience: "OIDC_AUTHORITY_VALIDATOR_AUDIENCE"

  # replace OIDC_AUTHORITY_URL with your provider's OIDC URL
  jwksUrl: "https://OIDC_AUTHORITY_URL/.well-known/jwks.json"

  # optionally, reconfigure the timeouts used when querying the JWKS endpoint:
  # jwks:
  #   connectionTimeout: "10 seconds"
  #   readTimeout: "10 seconds"

# ENABLEWALLET_START
# This will disable the wallet HTTP server and wallet automations when set to false
enableWallet: true
# ENABLEWALLET_END

# SWEEP_START
# If you want funds sweeped out of parties in this validator, uncomment and fill in the following:
#walletSweep:
#  "<senderPartyId>":
#    maxBalanceUSD: <maxBalanceUSD>
#    minBalanceUSD: <minBalanceUSD>
#    receiver: "<receiverPartyId>"
#    useTransferPreapproval: false # sweep by transferring directly through the transfer preapproval of the receiver,
#                                    if set to false sweeping creates transfer offers that need to be accepted on the receiver side.
#                                    Note that this refers to the preapprovals described in https://docs.dev.sync.global/background/preapprovals.html
#                                    and not to auto accepting transfers. Auto accept transfers does not setup preapproval contracts that allow
#                                    for a direct transfer but just automates the acceptance of the transfer offer so in that case
#                                    useTransferPreapproval should be set to false.
# SWEEP_END

# AUTO_ACCEPT_START
# To configure the validator to auto-accept transfer offers from specific parties, uncomment and fill in the following:
#autoAcceptTransfers:
#  "<receiverPartyId>":
#    fromParties:
#      - "<senderPartyId>"
# AUTO_ACCEPT_END

# Contact point for your validator node that can be used by other node operators
# to reach you if there are issues with your node.
# This can be a slack username or an email address.
# If you do not wish to share this, set it to an empty string.
contactPoint: "YOUR_CONTACT_POINT"

# PARTICIPANT_PRUNING_SCHEDULE_START
# To configure participant pruning uncomment the following section.
# Refer to the documentation for more details.
# participantPruningSchedule:
#   cron: 0 /10 * * * ? # Run every 10min
#   maxDuration: 5m # Run for a max of 5min per iteration
#   retention: 48h # Retain history that is newer than 48h.
# PARTICIPANT_PRUNING_SCHEDULE_END
