validator1:
  kms:
    type: gcp
    locationId: us-central1
    projectId: da-cn-devnet
    keyRingId: validator1_test
multiValidator:
  postgresPvcSize: '100Gi'
  # Dummy values for testing
  extraValidatorEnvVars:
    - name: MULTI_VALIDATOR_ADDITIONAL_CONFIG_YOLO
      value: |
        canton.validator-apps.validator_backend_INDEX.automation.paused-triggers += "org.lfdecentralizedtrust.splice.wallet.automation.ExpireTransferOfferTrigger"
        canton.validator-apps.validator_backend_INDEX.automation.paused-triggers += "org.lfdecentralizedtrust.splice.wallet.automation.ExpireAcceptedTransferOfferTrigger"
  extraParticipantEnvVars:
    - name: MULTI_PARTICIPANT_ADDITIONAL_CONFIG_MAX_CONNECTIONS
      value: canton.participants.participant_INDEX.storage.parameters.max-connections = 33
splitwell:
  maxDarVersion: '0.1.8'
synchronizerMigration:
  archived:
    - id: 1
      version: 0.3.18
      releaseReference:
        gitReference: "refs/heads/release-line-0.3.18"
        repoUrl: https://github.com/hyperledger-labs/splice
        pulumiStacksDir: "cluster/stacks/prod"
        pulumiBaseDir: "splice/cluster/pulumi"
        deploymentDir: "cluster/deployment"
        spliceRoot: "splice"
    - id: 2
      version: 0.3.19
      releaseReference:
        gitReference: "refs/heads/release-line-0.3.19"
        repoUrl: https://github.com/hyperledger-labs/splice
        pulumiStacksDir: "cluster/stacks/prod"
        pulumiBaseDir: "splice/cluster/pulumi"
        deploymentDir: "cluster/deployment"
        spliceRoot: "splice"
  active:
    id: 3
    version: 0.3.20
    releaseReference:
      gitReference: "refs/heads/release-line-0.3.20"
      repoUrl: https://github.com/hyperledger-labs/splice
      pulumiStacksDir: "cluster/stacks/prod"
      pulumiBaseDir: "splice/cluster/pulumi"
      deploymentDir: "cluster/deployment"
      spliceRoot: "splice"
      privateConfigsDir: "cluster/configs/configs-private"
      publicConfigsDir: "cluster/configs/configs"
  upgrade:
    id: 4
    version: 0.3.21
    releaseReference:
      gitReference: "refs/heads/release-line-0.3.21"
      repoUrl: https://github.com/hyperledger-labs/splice
      pulumiStacksDir: "cluster/stacks/prod"
      pulumiBaseDir: "splice/cluster/pulumi"
      deploymentDir: "cluster/deployment"
      spliceRoot: "splice"
      privateConfigsDir: "cluster/configs/configs-private"
      publicConfigsDir: "cluster/configs/configs"
pulumiProjectConfig:
  default:
    interAppsDependencies: false
    isExternalCluster: true
    cloudSql:
      enabled: true
monitoring:
  alerting:
    enableNoDataAlerts: true
    alerts:
      delegatelessContention:
        thresholdPerNamespace: 0.05
      cloudSql:
        maintenance: true
    logAlerts:
      forCometBft: |
        -- TODO(DACH-NY/canton-network-internal#475): Failing for all kinds of sequencer and CometBFT-related reasons; let's reevaluate on Canton 3.3
        -(resource.labels.container_name="multi-validator" AND jsonPayload.message=~"wallet/transfer-offers.* resulted in a timeout")
      forNonTAPS: |
        -- TODO(#979): Can happen due to random disconnects/reconnects but also in other contexts
        -(resource.labels.container_name="multi-participant" AND jsonPayload.message=~"The sequencer clock timestamp.*is already past the max sequencing time")
        -- TODO(DACH-NY/canton-network-node#17025): Stop ignoring these again once we have topology-aware package selection
        -(jsonPayload."span-name"="MergeValidatorLicenseContractsTrigger" AND (severity=WARNING OR "has not vetted"))
        -(jsonPayload."error-code"=~"ACS_COMMITMENT_MISMATCH" AND jsonPayload.remote=~"tw-cn-testnet-participant")
      # making this condition more complicated causes GCP to be unable to parse
      # the query because there's too many filters
      missingConfiguredCardinality: |
        -- TODO(#447): remove this once configured cardinality is respected
        -(jsonPayload.message="Instrument splice.trigger.latency.duration.seconds has exceeded the maximum allowed cardinality (1999).")
operatorDeployment:
  reference:
    gitReference: refs/heads/main
    repoUrl: https://github.com/DACH-NY/canton-network-internal
    pulumiStacksDir: "cluster/stacks/prod"
    pulumiBaseDir: "splice/cluster/pulumi"
    deploymentDir: "cluster/deployment"
    spliceRoot: "splice"
    privateConfigsDir: "cluster/configs/configs-private"
    publicConfigsDir: "cluster/configs/configs"
loadTester:
  enable: true
  iterationsPerMinute: 30
  minRate: 0.123
