# Copyright (c) 2026 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

{{ $_ := required ".Release.Name is required." .Release.Name }}
{{ $_ := required ".Release.Namespace is required." .Release.Namespace }}

{{ $_ := required ".Values.defaultJvmOptions is required." .Values.defaultJvmOptions }}
{{ $_ := required ".Values.imageRepo is required." .Values.imageRepo }}
{{ $_ := required ".Values.mediator.persistence.host is required." .Values.mediator.persistence.host }}
{{ $_ := required ".Values.mediator.persistence.secretName is required." .Values.mediator.persistence.secretName }}
{{ $_ := required ".Values.sequencer.persistence.host is required." .Values.sequencer.persistence.host }}
{{ $_ := required ".Values.sequencer.persistence.secretName is required." .Values.sequencer.persistence.secretName }}
