name: Scala Test
on:
  workflow_call:
    inputs:
      start_canton_options:
        type: string
        required: false
        default: "-h" # Prints version and exits, we want this input to be required unless with_canton is false
      runs_on:
        type: string
        required: true
      parallelism:
        type: number
        required: true
      test_names_file:
        type: string
        required: true
      test_name:
        type: string
        required: true
      with_gcp_creds:
        type: boolean
        required: false
        default: false
      is_frontend_test:
        type: boolean
        required: false
        default: false
      skip_if_regex:
        type: string
        required: false
        default: ""
      run_if_commit_tag:
        type: string
        required: false
        default: ""
      skip_if_files_changed:
        type: string
        required: false
        default: ""
      pre_sbt_cmd:
        type: string
        required: false
        default: ""
      with_canton:
        type: boolean
        required: false
        default: true
      commit_sha:
        type: string
        required: true
      daml_base_version:
        description: "Splice version from which the initial-package-config should be chosen"
        type: string
        required: true
      oss_only:
        description: "Restrict upstream dependencies (e.g. Canton) to OSS versions (the equivalent of OSS_ONLY=1 in local checkouts)"
        required: false
        type: boolean
        default: false

jobs:

  split_tests:
    # required to have access to the /cache directory to read test-reports
    runs-on: self-hosted-k8s-small
    container:
      image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12
    name: Split the tests into parallel runs
    outputs:
      indices: ${{ steps.prep.outputs.indices }}
      test_names: ${{ steps.prep.outputs.test_names }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # Checkout the PR head commit to get the commit message
          ref: ${{ github.event.pull_request.head.sha }}
          # Checkout with full history to get all commit messages on the branch
          fetch-depth: 0

      - name: Split tests
        id: prep
        uses: ./.github/actions/tests/pre_scala_test
        with:
          parallelism: ${{ inputs.parallelism }}
          test_names_file: ${{ inputs.test_names_file }}
          skip_if_regex: ${{ inputs.skip_if_regex }}
          skip_if_files_changed: ${{ inputs.skip_if_files_changed }}
          run_if_commit_tag: ${{ inputs.run_if_commit_tag }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}

  scala_test:
    runs-on: ${{ inputs.runs_on }}
    name: ${{ inputs.test_name }} (${{ matrix.runner-index }})
    timeout-minutes: 60 # TODO(#3013): Investigate, and reduce back
    permissions:
      id-token: write # Required for GCP Workload Identity for failure notifications
      contents: read
    needs:
      - split_tests
    if: ${{ needs.split_tests.outputs.indices != '[]' }}
    strategy:
      matrix:
        runner-index: ${{ fromjson(needs.split_tests.outputs.indices) }}
      fail-fast: false
    container:
      image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          # allegedly this env var only works from pg 16 onwards
          POSTGRES_INITDB_ARGS: "-c max_connections=16000"

    steps:

      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Run Tests
        uses: ./.github/actions/tests/scala_test
        with:
          with_canton: ${{ inputs.with_canton }}
          start_canton_options: ${{ inputs.start_canton_options }}
          test_suite_name: ${{ inputs.test_name }}
          test_names: ${{ needs.split_tests.outputs.test_names }}
          runner_index: ${{ matrix.runner-index }}
          with_gcp_creds: ${{ inputs.with_gcp_creds }}
          gcp_kms_creds: ${{ secrets.GCP_KMS_INTEGRATION_TEST_SERVICE_ACCOUNT_CREDENTIALS }}
          gcp_data_export_creds: ${{ secrets.GCP_DATA_EXPORT_INTEGRATION_TEST_SERVICE_ACCOUNT_CREDENTIALS }}
          is_frontend_test: ${{ inputs.is_frontend_test }}
          auth0_management_api_client_id: ${{ secrets.AUTH0_TESTS_MANAGEMENT_API_CLIENT_ID }}
          auth0_management_api_client_secret: ${{ secrets.AUTH0_TESTS_MANAGEMENT_API_CLIENT_SECRET }}
          auth0_validator_audience: ${{ secrets.AUTH0_TESTS_VALIDATOR_AUDIENCE }}
          pre_sbt_cmd: ${{ inputs.pre_sbt_cmd }}
          google_workload_identity_provider: ${{ secrets.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
          failure_notifications_invoker_sa: ${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_SA }}
          failure_notifications_invoker_url: ${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_URL }}
          failure_notifications_slack_channel: ${{ secrets.FAILURE_NOTIFICATIONS_SLACK_CHANNEL }}
          daml_base_version: ${{ inputs.daml_base_version }}
          oss_only: ${{ inputs.oss_only }}
          artifactory_user: ${{ inputs.oss_only && '' || vars.ARTIFACTORY_USER }}
          artifactory_password: ${{ inputs.oss_only && '' || secrets.ARTIFACTORY_PASSWORD }}
