name: Scala Test with CometBFT
on:
  workflow_call:
    inputs:
      runs_on:
        type: string
        required: true
      parallelism:
        type: number
        required: true
      test_names_file:
        type: string
        required: true
      test_name:
        type: string
        required: true
      commit_sha:
        type: string
        required: true
      daml_base_version:
        description: "Splice version from which the initial-package-config should be chosen"
        type: string
        required: true

jobs:

  split_tests:
    # required to have access to the /cache directory to read test-reports
    runs-on: self-hosted-k8s-small
    container:
      image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12
    name: Split the tests into parallel runs
    outputs:
      indices: ${{ steps.prep.outputs.indices }}
      test_names: ${{ steps.prep.outputs.test_names }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # Checkout the PR head commit to get the commit message
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Split tests
        id: prep
        uses: ./.github/actions/tests/pre_scala_test
        with:
          parallelism: ${{ inputs.parallelism }}
          test_names_file: ${{ inputs.test_names_file }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}


  scala_test:
    runs-on: ${{ inputs.runs_on }}
    name: ${{ inputs.test_name }} (${{ matrix.runner-index }})
    timeout-minutes: 35
    permissions:
      id-token: write # Required for GCP Workload Identity for failure notifications
      contents: read
    needs:
      - split_tests
    if: ${{ needs.split_tests.outputs.indices != '[]' }}
    strategy:
      matrix:
        runner-index: ${{ fromjson(needs.split_tests.outputs.indices) }}
      fail-fast: false
    container:
      image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          # allegedly this env var only works from pg 16 onwards
          POSTGRES_INITDB_ARGS: "-c max_connections=16000"

      cometbft1:
        image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-cometbft:0.3.12
        env:
          sv_idx: 1
        options: --name cometbft1

      cometbft2:
        image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-cometbft:0.3.12
        env:
          sv_idx: 2
        options: --name cometbft2

      cometbft2Local:
        image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-cometbft:0.3.12
        env:
          sv_idx: 2Local
        options: --name cometbft2local

      cometbft3:
        image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-cometbft:0.3.12
        env:
          sv_idx: 3
        options: --name cometbft3

      cometbft4:
        image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-cometbft:0.3.12
        env:
          sv_idx: 4
        options: --name cometbft4

    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Run Tests
        uses: ./.github/actions/tests/scala_test
        with:
          start_canton_options: -F -w
          artifactory_user: ${{ vars.ARTIFACTORY_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          test_suite_name: ${{ inputs.test_name }}
          test_names: ${{ needs.split_tests.outputs.test_names }}
          runner_index: ${{ matrix.runner-index }}
          with_gcp_creds: "false"
          is_frontend_test: "false"
          additional_nix_args: "--keep COMETBFT_DOCKER_IP"
          google_workload_identity_provider: ${{ secrets.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
          failure_notifications_invoker_sa: ${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_SA }}
          failure_notifications_invoker_url: ${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_URL }}
          failure_notifications_slack_channel: ${{ secrets.FAILURE_NOTIFICATIONS_SLACK_CHANNEL }}
          daml_base_version: ${{ inputs.daml_base_version }}
