name: Static Tests
on:
  workflow_call:
    inputs:
      commit_sha:
        type: string
        required: false
        default: ''
      self_hosted:
        type: boolean
        required: true
      skip_todo_check:
        type: boolean
        required: false
        default: false

jobs:
  check_canton_consistency:
    runs-on: ${{ inputs.self_hosted && 'self-hosted-k8s-x-small' || 'ubuntu-24.04' }}
    timeout-minutes: 15
    container:
      image: ${{ inputs.self_hosted && 'us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12' || '' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup Nix
        uses: ./.github/actions/tests/common_test_setup
        with:
          test_name: canton_consistency
          target: 'static_tests'

      - name: Run consistency check
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          additional_nix_args: "--keep PATH"
          cmd: |
            CURRENT_VERSION=$(jq -r '.version' nix/canton-sources.json)
            echo "Validating Docker digests for Canton version: $CURRENT_VERSION"

            function set_value() {
              local key="$1"
              local value="$2"
              jq --arg key "$key" --arg value "$value" '.[ $key ] = $value' nix/canton-sources.json > nix/canton-sources.tmp.json
              mv nix/canton-sources.tmp.json nix/canton-sources.json
            }

            for img in base participant mediator sequencer; do
              echo "Fetching image sha256 for canton-$img..."
              sha=$(skopeo inspect --override-os linux --override-arch amd64 "docker://europe-docker.pkg.dev/da-images/public-all/docker/canton-$img:${CURRENT_VERSION}" --format '{{.Digest}}')
              set_value "canton_${img}_image_sha256" "$sha"
            done

            git add nix/canton-sources.json
            if ! git diff --staged --exit-code nix/canton-sources.json; then
              echo "-------------------------------------------------------"
              echo "FAIL: Canton Docker digests are out of sync with version $CURRENT_VERSION!"
              echo "Please run './build-tools/bump-canton.sh $CURRENT_VERSION' locally to fix this."
              echo "-------------------------------------------------------"
              exit 1
            fi
            echo "Success: Docker digests match the version."
  static_tests:
    runs-on: ${{ inputs.self_hosted && 'self-hosted-k8s-small' || 'ubuntu-24.04' }}
    timeout-minutes: 35
    container:
      image: ${{ inputs.self_hosted && 'us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12' || '' }}

    steps:

      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup
        id: setup
        uses: ./.github/actions/tests/common_test_setup
        with:
          test_name: static_tests
          target: 'static_tests'

      - name: Check Grafana Dashboards
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-grafana-dashboards.sh

      - name: Check trailing whitespace
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-trailing-whitespace.sh

      - name: Run Daml warts check
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-daml-warts.sh

      - name: Run Daml return types check
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-daml-return-types.sh

      - name: Run Daml interface implementations check
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-daml-interface-impls.sh

      - name: Checking TODOs
        uses: ./.github/actions/nix/run_bash_command_in_nix
        if: ${{ inputs.skip_todo_check == false }}
        with:
          cmd: |
            echo "PR number: $CIRCLE_PULL_REQUEST"
            ./scripts/check-todos.sh
          additional_nix_args: "--keep GH_USER --keep GH_TOKEN --keep CIRCLE_BRANCH --keep CIRCLE_PULL_REQUEST"
        env:
          # The script assumes CCI env vars, so we map GHA ones to CCI ones here
          GH_USER: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CIRCLE_BRANCH: ${{ github.ref }}
          CIRCLE_PULL_REQUEST: ${{ github.event.pull_request.number }}

      - name: Lint GHA
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/actionlint.sh

      - name: Check for strings that should not be used in Splice
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-repo-names.sh

      - name: Check that docker base images are pinned by digest
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-base-images.sh

      - name: Check that npm packages are properly namespaced
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: ./scripts/check-npm-package-names.py

      - name: SBT-based static checks
        uses: ./.github/actions/sbt/execute_sbt_command
        with:
          cmd: "Test/compile lint updateTestConfigForParallelRuns"

      - name: Verify no changes in SBT test files
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: git add . && git diff --staged --exit-code test*.log

      # We explicitly do not call post-sbt job here. We don't want to save the
      # cache as it will be saved by the docs job that is much faster, and we
      # don't need to collect test reports as this is not an integration test job.

      - name: Report Failures on Slack & Github
        if: failure() && (github.event_name == 'push' || github.event_name == 'schedule')
        uses: ./.github/actions/tests/failure_notifications
        with:
          workload_identity_provider: '${{ secrets.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}'
          service_account: '${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_SA }}'
          notifications_url: '${{ secrets.FAILURE_NOTIFICATIONS_INVOKER_URL }}'
          slack_channel: '${{ secrets.FAILURE_NOTIFICATIONS_SLACK_CHANNEL }}'
