name: Deployment Test
on:
  workflow_call:
    inputs:
      commit_sha:
        type: string
        required: false
        default: ""

jobs:
  deployment_test:
    runs-on: self-hosted-k8s-x-small

    container:
      image: ghcr.io/digital-asset/decentralized-canton-sync/docker/splice-test-ci:0.3.12

    steps:

      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup
        uses: ./.github/actions/tests/common_test_setup
        with:
          test_name: deployment_test
          with_sbt: false
          artifactory_user: ${{ vars.ARTIFACTORY_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Deployment test
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd_retry_count: 5 # Retry in case of dependency download errors
          cmd: make cluster/pulumi/test
          cmd_before_retry: git reset --hard # revert changes before retrying, because make cluster/pulumi/test actually "fixes" the test pulumi files in-place
