name: Deployment Test
on:
  workflow_call:
    inputs:
      commit_sha:
        type: string
        required: true

jobs:
  deployment_test:
    runs-on: self-hosted-k8s-x-small

    container:
      image: us-central1-docker.pkg.dev/da-cn-shared/ghcr/digital-asset/decentralized-canton-sync-dev/docker/splice-test-ci:0.3.12

    steps:

      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup
        uses: ./.github/actions/tests/common_test_setup
        with:
          test_name: deployment_test
          with_sbt: false
          target: 'oss'

      - name: Helm tests
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: make cluster/helm/test

      - name: Pulumi tests
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd_retry_count: 5 # Retry in case of dependency download errors
          cmd: make cluster/pulumi/test
          cmd_before_retry: git reset --hard # revert changes before retrying, because make cluster/pulumi/test actually "fixes" the test pulumi files in-place
