name: Bump GHA runner version (WIP)
on:
  # schedule:
  #   - cron: '30 6 1,15 * *'  # Monthly on the 1st and 15th at 06:30
  workflow_dispatch:

jobs:
  bump_gha_runner_version:
    runs-on: ubuntu-24.04
    name: Bump GHA runner version
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Check for the latest version and create a PR to splice
        uses: ./.github/actions/nix/run_bash_command_in_nix
        with:
          cmd: |
            git config user.email "splice-maintainers@digitalasset.com"
            git config user.name "DA Automation"
            ./scripts/bump_gha_runner_version.sh
          additional_nix_args: "--keep GH_TOKEN"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}