name: CI on PRs (Splice Contributors)
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for GCP Workload Identity for failure notifications
  contents: read
  pull-requests: read # Required for the static tests
  issues: read # Required for the static tests
  actions: write # To cancel itself if not opted in

jobs:
  ci:
    uses: ./.github/workflows/build.yml
    if: github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    secrets: inherit

  test:
    runs-on: self-hosted-docker-tiny
    steps:
      - name: test
        run: |
          echo ${{ github.event.pull_request.head.repo.git_url }}
          echo ${{ github.event.pull_request.head.repo.url }}
          echo ${{ github.event.pull_request.head.repo.full_name }}

