name: CI on PRs from forks
on:
  pull_request_target:
    types: [ opened, synchronize, reopened ]
    branches: [ main ] # Only run on PRs with `main` as their base

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.ref }}
  cancel-in-progress: true


jobs:
  env_hold:
    name: "Approve CI for Forks"
    environment: ci-forks
    runs-on: self-hosted-docker-tiny
    if: github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    steps:
      - name: Wait for environment approval for runs from forks
        run: exit 0

  ci:
    uses: ./.github/workflows/build.yml
    if: github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    secrets: inherit
    permissions:
      id-token: write # Required for GCP Workload Identity for failure notifications
      contents: read
      pull-requests: read # Required for the static tests
      issues: read # Required for the static tests
      actions: write # To cancel itself if not opted in
    needs: env_hold
    with:
      commit_sha: ${{ github.event.pull_request.head.sha }}

  # Note: unapproved runs must not be granted access to secrets, and must not run on self-hosted runners
  no_approval_static_tests:
    name: Static Tests (No Approval Required)
    uses: ./.github/workflows/build.static_tests.yml
    if: github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    permissions:
      contents: read
      pull-requests: read # Required for the static tests
      issues: read # Required for the static tests
    with:
      self_hosted: false
      commit_sha: ${{ github.event.pull_request.head.sha }}
      # For extra security, we do not run full checkouts for unapproved PRs from forks
      full_checkout: false
