# Outputs created by some of our file-based tests,
# which don't use temp-files so that dumps are easily inspectable
/test-outputs/
/domain-migration-dump/
/disaster-recovery-dump/
/compose-validator-backup/
/sql/
